<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= render 'users/shared/error_messages', resource: @profile %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body" style="color: black;">

          <%= form_with model: @profile, url: profile_path, local: true do |f| %>

            <div class="form-group mb-4">
              <%= f.label :name, "名前", class: "form-label" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="form-group mb-4">
              <%= f.label :self_introduction, "自己紹介", class: "form-label" %>
              <%= f.text_area :self_introduction, rows: "7", class: "form-control" %>
            </div>

            <div class="form-group mb-4">
              <%= f.label :profile_image, "プロフィール画像", class: "form-label" %><br>
              <%= f.file_field :profile_image, class: "form-control-file" %>
            </div>

            <div class="d-flex justify-content-end">
              <%= f.submit "更新", class: "btn text-black btn-warning" %>
            </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>