<div class="row mt-5">
  <% @favorite_boards.each do |favorite| %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="common-card shadow position-relative">
        <div class="position-absolute" style="top: 10px; right: 10px; width: 50px; height: 50px; overflow: hidden;">
          <% if favorite.user&.profile&.profile_image&.attached? %>
            <%= image_tag favorite.user.profile.profile_image.variant(resize_to_fill: [50, 50]), alt: "User Icon", class: "rounded-circle img-fluid", style: "object-fit: cover;" %>
          <% else %>
            <%= image_tag "default_person.png", alt: "Default User Icon", class: "rounded-circle img-fluid", style: "object-fit: contain;" %>
          <% end %>
        </div>

        <div class="card-body text-center">
          <h3 class="card-title mb-2" style="margin-top: 60px;"><%= favorite.title %></h3>
          <%= link_to "詳細", board_path(favorite.hashid, page: params[:page]), class: "btn boder-black mb-2" %>
          <div>
            <% if user_signed_in? %>
              <p id="favorite_button_<%= favorite.id %>">
                <%= render partial: "favorites/favorites", locals: {board: favorite} %>
              </p>
            <% else %>
              いいね数<%= favorite.favorites.count %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
