<body class="center">
  <div class="box1">
    <div class="box-inner">
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'form', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <h1>ログイン</h1>
        <div class="box-email">
          <%= f.label :email, "Eメール" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="box-password">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="box-password">
          <%= f.label :password_confirmation, "パスワード(確認)" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>


          <div class="form-group">
            <input type="submit" name="commit" value="ログイン" class="btn btn-warning w-20" data-disable-with="ログイン">
          </div>

        <% end %>

          <div class="box-newusr">
            <p><span>------------</span> 既に登録されていますか？ <span>------------</span></p>
            <%= link_to "新規登録", new_user_registration_path%>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
