<nav class="navbar navbar-expand-lg fixed-top mb-5" style="background-color: #84a2d4;">
  <a class="navbar-brand mr-auto mr-lg-0" href="#">
    <span class="font-weight-bold rounded-pill">話のタネコレクション</span>
  </a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "ボード一覧", boards_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ボード投稿", new_board_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "パック一覧", packs_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "プロフィール", profile_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
      <% if admin_signed_in? %>
        <li class="nav-item">
          <%= link_to "パック投稿", new_pack_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログアウト', destroy_admin_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <% if display_search_form? %>
      <%= search_form_for @q, url: search_form_action, class: "form-inline my-2 my-lg-0" do |f| %>
        <%= f.search_field :title_cont, class: "form-control mr-sm-2", placeholder: "検索するテキスト", "aria-label": "Search" %>
        <%= f.submit "検索", class: "btn my-2 my-sm-0" %>
      <% end %>
    <% end %>
  </div>
</nav>
