<div class="container" style="max-width: 70%;">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4>パック編集画面</h4>
    <%= link_to request.referer || boards_path, class: "btn " do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>

  <%= form_with model: @pack, local: true do |f| %>
    <% if @pack.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@pack.errors.count, "error") %> prohibited this pack from being saved:</h2>
        <ul>
          <% @pack.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div id="packdetails">
      <%= f.fields_for :packdetails do |packdetail| %>
        <%= render 'packdetail_fields', f: packdetail %>
      <% end %>
      <div class="links">
        <%= link_to_add_association "+トピックIDを追加", f, :packdetails, class: 'btn btn-light' %>
      </div>
    </div>

    <div class="form-group mt-4 text-end">
      <%= f.submit 'パックを編集する', class: 'btn ' %>
    </div>
  <% end %>
</div>
