<h4>パック登録画面</h4>

  <%= form_with model: @pack do |f| %>
    <div class="row m-5 p-5">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.fields_for :packdetails do |t| %>
      <%= t.label :topic_id %>
      <%= t.check_box :Packdetail.topic_id,{}, true, false %>
    <% end %> 

    <div class="mt-4 text-end">  
      <%= f.submit 'パックを登録する' %>
    </div>
  <% end %>