<h4>パック登録画面</h4>

  <%= form_with model: @pack do |f| %>
    <div class="row m-5 p-5">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <% 2.times do |i| %>
      <%= f.fields_for "packdetails_attributes[#{i}]", @pack.packdetails.build  do |t| %>
        <%= t.label :topic_id %>
        <%= t.url_field :topic_id %>
      <% end %> 
    <% end %>

    <div class="mt-4 text-end">  
      <%= f.submit 'パックを登録する' %>
    </div>
  <% end %>