<h1>パック詳細画面</h1>
<h4 class="display-4 m-4">
<%= @pack.title %>
</h4>
<div class="group d-flex m-4">
  <div class="flex-row m-5">
    <% @topics.each do |topic| %>
      企画タイトル<h4><%= topic["title"] %></h4>
      <%= topic["id"] %>
    <% end %>
  </div>
  <%= link_to "編集", edit_pack_path(@pack) %>
  <button id="create-board-button">パックからボードを作成</button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const createBoardButton = document.getElementById('create-board-button');

    createBoardButton.addEventListener('click', () => {
      const packId = <%= @pack.id %>;
      
      const form = document.createElement('form');
      form.method = 'GET';
      form.action = '/boards/new'; // 送信先のURLを指定

      const input = document.createElement('input');
      input.type = 'hidden';
      input.name = 'pack_id';
      input.value = packId;

      form.appendChild(input);

      document.body.appendChild(form);
      form.submit();
    });
  });
</script>
