<div class="col-md-6 mb-4">
  <div class="nested-fields bg-white p-4 rounded shadow-sm">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <%= f.label :list_title, "リストタイトル", class: 'font-weight-bold' %>
      <%= link_to_remove_association raw('<i class="fa-solid fa-xmark"></i>'), f, class: 'btn btn-link' %>
    </div>
    <%= f.text_field :title, class: 'form-control', placeholder: 'リストのタイトルを入力' %>
    <div id="tasks" class="mt-3">
      <%= f.fields_for :tasks do |task| %>
        <%= render "task_fields", f: task %>
      <% end %>
    </div>
    <div class="links mt-3">
      <%= link_to_add_association "タスクを追加", f, :tasks, class: 'btn ' %>
    </div>
  </div>
</div>