<div class="field mt-20">
  <%= list.label :task_title %>
  <%= list.text_field :title %>
  <%= list.label :task_body %>
  <%= list.text_area :body %>
  <%= link_to_remove_association "Remove task", list %>
</div>
