<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">ボード一覧</h1>
</div>

<div class="card-group">
    <div class="flex w-100">
      <% @boards.each do |board| %>
      <div class="col-sm-6">
        <div class="card m-5">
          <div class="card-body">
            <h5 class="card-title"><%= board.title %></h5>
            <p class="card-text"><%= board.created_at %></p>
            <a href="#" class="btn"><%= link_to "詳細", board_path(board) %></a>
            <% if user_signed_in? %>
              <p id="favorite_button_<%= board.id %>">
                <%= render partial: "favorites/favorites", locals: {board: board} %>
              </p>
            <% else %>
              <p data-bs-toggle="modal" data-bs-target="#signUpModal">
                <i class="bi bi-heart"></i>
                <%= topic.favorites.count %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<p>jQuery稼働テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("jQuery稼働テスト(稼働中)");
  });
</script>