<div class="row mt-5">
  <% @boards.each do |board| %>
    <div class="col-lg-4 mb-4">
      <div class="card shadow">
        <div class="d-flex justify-content-center align-items-center" style="height: 100px; overflow: hidden;">
          <!-- 画像は仮のもの -->
          <img class="card-img-top rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 70px; height: 70px; border-radius: 50%;">
        </div>
        <div class="card-body text-center">
          <h3 class="card-title"><%= board.title %></h3>
          <p class="card-text"><%= board.body %></p>
          <%= link_to "詳細", board_path(board.hashid), class: "btn btn-warning mb-2" %>
          <div>
            <% if user_signed_in? %>
              <p id="favorite_button_<%= board.id %>">
                <%= render partial: "favorites/favorites", locals: {board: board} %>
              </p>
            <% else %>
              <i class="bi bi-heart"></i>
              <%= board.favorites.count %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


