<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <h2>ボード投稿画面</h2>
    <%= link_to "戻る", request.referer || boards_path, class: "btn btn-warning" %>
  </div>

  <%= form_with(model: @board, local: true, data: { turbo: "false" }) do |f| %>

    <div class="form-group">
      <%= f.label :title, class: "font-weight-bold" %>
      <%= f.text_field :title, class: 'form-control', placeholder: 'ボードのタイトルを入力' %>
    </div>

    <div id="lists" class="row">
      <div class="col-md-6 text-center">
        <%= f.fields_for :lists do |list| %>
          <div class="card p-4 m-2 custom-border">
            <%= render "list_fields", f: list %>
          </div>
        <% end %>
        <div class="links mb-4">
          <%= link_to_add_association "+Listを追加", f, :lists, class: 'btn btn-warning' %>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <%= f.fields_for :lists do |list| %>
          <div class="card p-4 m-2 custom-border">
            <%= render "list_fields", f: list %>
          </div>
        <% end %>
        <div class="links mb-4">
          <%= link_to_add_association "+Listを追加", f, :lists, class: 'btn btn-warning' %>
        </div>
      </div>
    </div>

    <div class="form-group mt-4 text-center">
      <%= f.submit '投稿', class: 'btn btn-warning btn-lg' %>
    </div>
  <% end %>
</div>
