<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <h2>ボード投稿画面</h2>
    <%= link_to "戻る", request.referer || boards_path, class: "btn " %>
  </div>

  <%= form_with(model: @board, local: true, data: { turbo: "false" }) do |f| %>

    <div class="form-group">
      <%= f.label :title, "タイトル", class: "font-weight-bold" %>
      <%= f.text_field :title, class: 'form-control', placeholder: 'ボードのタイトルを入力' %>
    </div>

    <div id="lists" class="row">
      <% list_count = 0 %>
      <%= f.fields_for :lists do |list| %>
        <% if list_count.even? %><div class="w-100"></div><% end %>
        <div class="col-md-6 mb-4">
          <div class="nested-fields bg-white p-4 rounded shadow-sm">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <%= list.label :list_title, "リストタイトル", class: 'font-weight-bold' %>
              <%= link_to_remove_association raw('<i class="fa-solid fa-xmark"></i>'), list, class: 'btn btn-link' %>
            </div>
            <%= list.text_field :title, class: 'form-control', placeholder: 'リストのタイトルを入力' %>
            <div id="tasks" class="mt-3">
              <%= list.fields_for :tasks do |task| %>
                <%= render "task_fields", f: task %>
              <% end %>
            </div>
            <div class="links mt-3">
              <%= link_to_add_association "タスクを追加", list, :tasks, class: 'btn ' %>
            </div>
          </div>
        </div>
        <% list_count += 1 %>
      <% end %>
      <div class="links text-center col-md-12">
        <%= link_to_add_association "リストを追加", f, :lists, class: 'btn ' %>
      </div>
    </div>

    <div class="form-group mt-4 text-center">
      <%= f.submit '投稿', class: 'btn  btn-lg' %>
    </div>
  <% end %>
</div>

