<h4>ボード新規投稿画面</h4>
<%= form_with model: @board do |f| %>
  <div class="row m-5 p-5">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="row m-5 p-5">
    <% 2.times do |i| %>
      <%= f.fields_for "lists_attributes[#{i}]", @board.lists.build do |list| %>
        <%= list.label :list_title %>
        <%= list.text_field :title %>
        <% 2.times do |j| %>
          <%= list.fields_for "tasks_attributes[#{j}]", @boards.tasks.build  do |task| %>
            <%= task.label :task_title %>
            <%= task.text_field :title %>
            <%= task.label :task_body %>
            <%= task.text_area :body %>
          <% end %>
        <% end %>
      <% end %>  
    <% end %>
  </div>  
  <%= f.submit 'ボードを作成する' %>
<% end %>