<%= form_with model: @board, local: true do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>
      <ul>
        <% @board.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <div id="lists" class="row d-flex">
    <%= f.fields_for :lists do |list| %>
      <div class="card mb-4 p-3 custom-border mr-3">
        <%= render "list_fields", f: list %>
      </div>
    <% end %>
    <div id="detail-association-insertion-point"></div>
    <div class="links mb-4">
      <%= link_to_add_association "+Listを追加", f, :lists, class: 'btn btn-light' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

