<%= form_with model: @board do |f| %>
  <div class="row m-5 p-5">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  
  <div class="row">
    <%= f.fields_for :lists do |list| %>

      <%= list.fields_for :tasks do |task| %>
        <div class="card">
          <%= render "list_fields", f: list %>
        </div>
      <% end %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "Add List", f, :lists %>
    </div> 
  </div>
  
  <div class="mt-4 text-end">
    <%= f.submit 'ボードを作成する' %>
  </div>
<% end %>