<h3>ボードタイトル</h3>
<h4 class="display-4 m-4"><%= @board.title %></h4>

<div class="group d-flex m-4">
  <% @board.lists.each do |list| %>
    <div class="flex-row m-5">
      <h4>リストタイトル</h4>
      <% if list.nil? %>
        <%= link_to "リスト名を編集する", edit_board_path(@board) %>
      <% else %>
        <%= list.title %>
      <% end %>

      <ul class="flex-column mt-5" data-controller="sortable" data-sortable-handle-value=".card">
        <% list.tasks.each do |task| %>
          <li data-id="<%= task.id %>">
            <div class="card mt-3" style="width: 15rem;" data-sortable-update-url="<%= update_task_order_board_path(@board, task_id: task.id) %>">
              <div class="card-body">
                <h4>タスクタイトル</h4>
                <% if task.title.nil? %>
                  <%= link_to "タスクを追加する", edit_board_path(@board) %>
                <% else %>
                  <%= link_to task.title, task_path(task) %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<%= @board.favorites.count %><br>
<%= link_to "編集", edit_board_path(@board) %>

