<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading"><%= @board.title %></h1>
    </div>
  </section>

  <div class="album py-5 bg-light text-center">
    <div class="container">
      <div class="row">
        <% @board.lists.each do |list| %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-header">
                <% if list.nil? %>
                  <%= link_to "リスト名を編集する", edit_board_path(@board) %>
                <% else %>
                  <h4><%= list.title %></h4>
                <% end %>
              </div>
              <div class="card-body">
                <ul class="list-unstyled" data-controller="sortable" data-sortable-handle-value=".task-card">
                  <% list.tasks.each do |task| %>
                    <li data-id="<%= task.id %>" class="mb-3" data-sortable-update-url="<%= update_task_order_board_path(@board, task_id: task.id) %>">
                      <div class="card task-card">
                        <div class="card-body">
                          <% if task.title.nil? %>
                            <%= link_to "タスクを追加する", edit_board_path(@board) %>
                          <% else %>
                            <h4><%= link_to task.title, task_path(task) %></h4>
                          <% end %>
                        </div>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <div class="mr-3">
        <%= @board.favorites.count %>
      </div>
      <a href="/boards/<%= @board.id %>/edit" class="btn btn-outline-primary w-20">編集</a>
    </div>
  </div>
</main>
