<section class="jumbotron text-center jumbotron-board">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="jumbotron-heading"><%= @board.title %></h1>
    <div class="d-flex align-items-center">
      <div class="mr-3">
        <i class="fa-solid fa-heart" style="font-size: 2.0em;"></i><%= @board.favorites.count %>
      </div>
      <% if user_signed_in? && @board.user_id == current_user.id %>
        <%= link_to '編集', edit_board_path(@board), class: 'btn btn-lg btn-block btn-warning w-20' %>
        <%= link_to "削除", board_path(@board), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "btn btn-lg btn-block btn-warning w-20" %>
      <% end %>
    </div>
  </div>
</section>

<div class="album bg-light-yellow text-center">
  <div class="container">
    <div class="row">
      <% @board.lists.each do |list| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-header bg-sandybrown">
              <h4 class="list-title"><%= list.title %></h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled" data-controller="sortable" data-sortable-params-name-value=".task-card" data-board-id="<%= @board.id %>">
                <% list.tasks.order(:position).each do |task| %>
                  <li data-task-id="<%= task.id %>" class="mb-3" data-sortable-update-url="<%= update_task_order_board_path(@board) %>">
                    <div class="card task-card">
                      <div class="card-body bg-white">
                        <h4><%= link_to task.title, task_path(task) %></h4>
                      </div>
                      <% if user_signed_in? %>
                        <p id="favorite_button_<%= task.id %>">
                          <%= render partial: "task_favorites/task_favorites", locals: {task: task} %>
                        </p>
                      <% else %>
                        <p data-bs-toggle="modal" data-bs-target="#signUpModal">
                          <i class="bi bi-heart"></i>
                          <%= task.task_favorites.count %>
                        </p>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
