<h3>ボードタイトル</h3>
<h4 class="display-4 m-4"><%= @board.title %></h4>
<div class="group d-flex m-4">
  <% @board.lists.each do |list| %>
    <div class="flex-row m-5">
      <h4>リストタイトル</h4>
      <% if list == nil %>
         <%= link_to "リスト名を編集する", edit_board_path(@board) %>
      <% else %>
        <%= list.title %>
      <% end %>
      <div class="flex-column mt-5">
        <% list.tasks.each do |task| %>
          <div class="card mt-3" style="width: 15rem;">
            <div class="card-body">
              <h4>タスクタイトル</h4>
              <% if task.title == nil %>
                <%= link_to "タスクを追加する", edit_board_path(@board) %>
              <% else %>
                <%= link_to task.title, task_path(task) %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<% if user_signed_in? %>
  <p id="favorite_button_<%= @board.id %>">
    <%= render partial: "favorites/favorites", locals: {board: @board} %>
  </p>
<% else %>
  <p data-bs-toggle="modal" data-bs-target="#signUpModal">
    <i class="bi bi-heart"></i>
    <%= @board.favorites.count %>
  </p>
<% end %>
<%= link_to "編集", edit_board_path(@board) %>
