<section class="jumbotron text-center jumbotron-board">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="jumbotron-heading"><%= @board.title %></h1>
        <div class="d-flex align-items-center">
            <div class="mr-3">
                <i class="fa-solid fa-heart" style="font-size: 2.0em;"></i><%= @board.favorites.count %>
            </div>
            <a href="/boards/<%= @board.id %>/edit" class="btn btn-lg btn-block btn-warning  w-20">編集</a>
        </div>
    </div>
</section>

<div class="album bg-light-yellow text-center">
    <div class="container">
      <div class="row">
        <% @board.lists.each do |list| %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-header bg-sandybrown">
                <% if list.nil? %>
                  <%= link_to "リスト名を編集する", edit_board_path(@board) %>
                <% else %>
                  <h4 class="list-title"><%= list.title %></h4>
                <% end %>
              </div>
              <div class="card-body">
                <ul class="list-unstyled" data-controller="sortable" data-sortable-params-name-value=".task-card" data-board-id="<%= @board.id %>">
                    <% list.tasks.order(:position).each do |task| %>
                        <li data-id="<%= task.id %>" class="mb-3" data-sortable-update-url="<%= update_task_order_board_path(@board) %>">
                            <div class="card task-card">
                                <div class="card-body bg-white">
                                    <% if task.title.nil? %>
                                        <%= link_to "タスクを追加する", edit_board_path(@board) %>
                                    <% else %>
                                        <h4><%= link_to task.title, task_path(task) %></h4>
                                    <% end %>
                                </div>
                            </div>
                        </li>
                    <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
