<!DOCTYPE html>
<html>
  <head>
    <title>boards</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,noindex">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/a0f0bc21ce.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <%= javascript_include_tag 'new' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/header" %>

    <div class="container is-max-desktop mt-5">
      <% if flash[:notice] %>
        <div class="notification is-primary is-light flash notice-flash">
          <p class="notice is-size-5"><%= notice %></p>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="notification is-danger is-light flash alert-flash">
          <p class="alert is-size-5"><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>